<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/main.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Rich meta data -->
  <script type="application/ld+json">
      {
      "@context":"http://schema.org",
      "@type":"WebSite",
      "name": "Bash Network",
      "url":"http://bashnetwork.com",
      "potentialAction":{
      "@type":"SearchAction",
      "target":"https://www.bashnetwork.com/search?query={search_term}",
      "query-input":"required name=search_term"
      }
      }
  </script>
  <script type="application/ld+json">
      {
        "@context":"http://schema.org",
        "@type":"Organization",
        "name":"Bash Network",
        "url": "{{ site.url }}{{ site.baseurl }}{{ page.url }}",
        "logo":"",
        "sameAs": [ "https://www.facebook.com/", "https://plus.google.com//", "https://twitter.com/"],
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+1-866-740-4531",
          "contactType": "sales",
          "areaServed": [ "US" ]
        }

      }
  </script>

  <!-- Application specific rich meta data -->
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Article",
      "datePublished": "2017-01-04",  //"{{ page.date }}",
      "author": "Author", //"{{ page.author }}",
      "image": "http://musicbrainz.org/label/26df054d-78cf-4d83-9bb1-a41816125528", //"{{ page.image }}",
      "headline": "Title", //"{{ page.title }}",
      "publisher": {
        "@type": "Organization",
        "name": "Northern Songs, Ltd.",
        "@id": "http://musicbrainz.org/label/26df054d-78cf-4d83-9bb1-a41816125528",
        "logo":""
      },  //"{{ page.publisher }}",
      "interactionStatistic": [
        {
          "@type": "InteractionCounter",
          "interactionService": {
            "@type": "Website",
            "name": "Twitter",
            "url": "http://www.twitter.com"
          },
          "interactionType": "http://schema.org/ShareAction",
          "userInteractionCount": "1203"
        },
        {
          "@type": "InteractionCounter",
          "interactionType": "http://schema.org/CommentAction",
          "userInteractionCount": "78"
        }
      ]
    }
  </script>

  {% if site.mathjax %}
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_SVG"> </script>
  <script type="text/x-mathjax-config">
MathJax.Hub.Config({ tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], processEscapes: true } });
  </script>
  {% endif %}
</head>
